<% include ./partials/header %>
<div class="ui main text new container segment">
    <div class="ui huge header jobNumber">Edit <%= est.jobNumber %></div>
    <form class="ui form" action="/est/<%= est._id %>?_method=PUT" method="POST">
        <div class="ui top attached">
            <table class="ui definition table">
            <h4 class="ui horizontal teal divider header">Builder Info</h4>
                <tbody>
                    <tr>
                        <td class="two column"><label>First Name</label></td>
                        <td><input type="text" name="est[firstName]" required value="<%= est.firstName %>" autofocus></td>
                        <td><strong>Last Name</strong></td>
                        <td><input type="text" name="est[lastName]" required value="<%= est.lastName %>"> </td>
                    </tr>
                </tbody>
            </table>
            <table class="ui definition table">
                <h4 class="ui horizontal teal divider header">House Info</h4>
                <tbody>
                    <tr>
                        <td class="two wide column"><label>Unit</label></td>
                        <td><input type="text" name="est[unit]" required value="<%= est.unit %>"></td>
                        <td><strong>Lot</strong></td>
                        <td><input type="text" name="est[lot]" required value="<%= est.lot %>"></td>
                    </tr>
                    <tr>
                        <td><Strong>Series</Strong></td>
                        <td><input type="text" name="est[series]" value="<%= est.series %>"></td>
                        <td><strong>Model</strong></td>
                        <td><input type="text" name="est[model]" value="<%= est.model %>"></td>
                    </tr>
                    <tr>
                        <td><Strong>House #</Strong></td>
                        <td><input type="text" name="est[houseNumber]" value="<%=est.houseNumber %>"></td>
                        <td><strong>Street</strong></td>
                        <td><input type="text" name="est[street]" value="<%= est.street %>"></td>
                    </tr>
                </tbody>
            </table>
            <table class="ui definition table">
                <h4 class="ui horizontal teal divider header">Job Info</h4>
                <tbody>
                    <tr>
                        <td class="two wide column"><label>Red File</label></td>
                        <td><input type="text" name="est[redFile]" value="<%= est.redFile %>"></td>
                        <td><strong>Issue</strong></td>
                        <td><input type="text" name="est[issue]" value="<%= est.issue %>"></td>
                    </tr>
                    <tr>
                        <td><strong>PO $</strong></td>
                        <td><input type="text" name="est[poTotal]" value="<%= est.poTotal %>"></td>
                        <td><strong>Margin</strong></td>
                        <td><input type="text" name="est[margin]" value="<%= est.margin %>"></td>
                    </tr>
                </tbody>
            </table>
            <h4 class="ui horizontal teal divider header">Description</h4>
            <div class="fields">
                <textarea class="fields" name="est[description]" rows="4"><%= est.description %></textarea>
            </div>
        </div>
        <div class="center">
            <input class="ui green basic button" type="submit" value="Save">
            <a href="#" class="ui yellow basic button">Clear</a>
            <a href="/" class="ui orange basic button">Abort</a>
        </div>
    </form>
</div>
<% include ./partials/footer %>