<% include ./partials/header %>
<div class="ui main text new container segment">
    <div class="ui huge header jobNumber"><strong><%=est.jobNumber%></strong></div>
    <div class="ui top attached">
        <table class="ui definition table">
            <h4 class="ui horizontal teal header centered">
                <%= est.firstName + " " +  est.lastName + " - " + est.houseNumber + " " + est.street%>
            </h4>
            <h4 class="ui horizontal teal divider header">House Info</h4>
            <tbody>
                <tr>
                    <td class="four wide column">Unit</td>
                    <td><%= est.unit %></td>
                    <td><strong>Lot</strong></td>
                    <td><%= est.lot %></td>
                </tr>
                <tr>
                    <td><strong>Series</strong></td>
                    <td><%= est.series %></td>
                    <td><strong>Model</strong></td>
                    <td><%= est.model %></td>
                </tr>
            </tbody>
        </table>
        <table class="ui definition table">
            <h4 class="ui horizontal teal divider header">Job Info</h4>
            <tbody>
                <tr>
                    <td class="four wide column"><label>Red File</label></td>
                    <td><%= est.redFile %></td>
                    <td><strong>Issue</strong></td>
                    <td><%= est.issue %></td>
                </tr>
                <% if(currentUser && currentUser.username === "Jason") { %>
                <tr>
                    <td><strong>PO Total</strong></td>
                    <td><%= "$ " + est.poTotal %></td>
                    <td><strong>Margin</strong></td>
                    <td><%= est.margin + " %" %></td>
                </tr>
                <% } %>
                
            </tbody>
        </table>
        <h4 class="ui horizontal teal divider header">Descripton</h4>
        <p class="desc"><%=est.description%></p>
            <div class="centered">
                <a class="ui green button" href="/est">Back</a>
                <a class="ui orange button" href="/est/<%=est._id%>/edit">Edit</a>
                <a class="ui green button " href="/est/<%= est._id %>/takeOff/new">Take Off</a>
                <form id="delete" action="/est/<%= est._id %>?_method=DELETE" method="POST">
                    <button class="ui red button">Delete</button>
                </form>
            </div>
        </div>
        <p class="centered teal">Created By: <%= est.author.username %></p>
    </div>
</div>
<div class="ui three stackable cards">
    <div class="card">
        <embed width="100%" height="400" name="plugin" src="/images/testPdf1.pdf" type="application/pdf">
    </div>
    <div class="card">
        <embed width="100%" height="100%" name="plugin" src="/images/testPdf6.pdf" type="application/pdf">
    </div>
    <div class="card">
         <embed width="100%" height="100%" name="plugin" src="/images/testPdf3.pdf" type="application/pdf">
    </div>
    <div class="card">
        <embed width="100%" height="400" name="plugin" src="/images/testPdf4.pdf" type="application/pdf">
    </div>
    <div class="card">
        <embed width="100%" height="100%" name="plugin" src="/images/testPdf5.pdf" type="application/pdf">
    </div>
    <div class="card">
        <embed width="100%" height="100%" name="plugin" src="/images/testPdf6.pdf" type="application/pdf">
    </div>
    <div class="card">
            <embed width="100%" height="400" name="plugin" src="/images/testPdf1.pdf" type="application/pdf">
    </div>
</div>
<hr>
    <div class="center">
        <a class="ui green button" href="/est/<%= est._id %>/comments/new">New Comment</a>
    </div>
<% est.comments.forEach(function(comment){ %>
    <div class="ui main new text container segment">
        <div class="fields">
            <div class="field">
                <strong><%= comment.author.username %></strong>
                <span> - <%=comment.created.toDateString()%></span>
                <p>
                    <%= comment.text %>
                </p>
            </div>   
        </div>
        <div class="centered">
            <a class="ui yellow button"
                href="/est/<%=est._id%>/comments/<%=comment._id%>/edit">
                Edit
            </a>
            <form action="/est/<%=est._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <input type="submit" class="ui red button" value="Delete">
            </form>
        </div>
    </div>  
<% }) %>
<% include ./partials/footer %>